.title-header {
	text-align: center;
}
	.title-header h5 {
		margin-bottom: 30px;
	}

.term h1 {
	margin: 0px auto;
	text-align: center;
	font-size: 45px;
}
	.term .term-content {
		padding: 10px;
		border-radius: 6px;
	}
	.term .term-content p {
		margin: 15px 0px;
		text-align: justify;
		font-size: 21px;
	}
	.term .term-content ul,
	.term .term-content ol {
		margin: 10px 25px 25px 10px;
	}
	.term .term-content ul li,
	.term .term-content ol li {
		margin: 10px 20px;
		text-align: justify;
		font-size: 20px;
	}


footer {
	background-color: #34495E;
	margin-top: 30px;
}
footer .footer-banner ul li a {
	text-decoration: none;
}
footer .footer-banner ul li a:hover {
	text-decoration: underline;
}

/* Media Query */

@media(max-width: 420px) {
	.term-content {
	    padding: 10px 0px !important;
	}
}