<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Categoria - Banco de Terminologia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bootstrap.css" rel="stylesheet">

        <link href="css/flat-ui.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <link rel="shortcut icon" href="img/favicon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--[if lt IE 9]>
          <script src="js/vendor/html5shiv.js"></script>
          <script src="js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-lg navbar-embossed" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-8">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="#"" class="img-responsive" alt="Logo">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-8">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">
                            Início
                            <!--span class="navbar-unread">1</span-->
                        </a>
                    </li>
                    <li>
                        <a href="sobre.html">Sobre Nós</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Categorias <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="categoria.html">Português</a></li>
                            <li><a href="categoria.html">Matemática</a></li>
                            <li><a href="categoria.html">Física</a></li>
                            <li><a href="categoria.html">Geografia</a></li>
                            <li><a href="categoria.html">História</a></li>
                            <li><a href="categoria.html">Programação</a></li>
                            <li><a href="categoria.html">Biologia</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="#" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn"><span class="fui-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="col-lg-9">
                <div class="row demo-tiles">
                    <div class="col-xs-12 title-header">
                        <h5>Nome da Categoria</h5>
                        <hr>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="tile">
                            <img src="img/icons/svg/compas.svg" alt="Orientação a Objetos" class="tile-image big-illustration">
                            <h3 class="tile-title">Orientação a Objetos</h3>
                            <smal class="tile-subtitle">em <a href="#">Programação</a></smal>
                            <p>Programação orientada a objetos (também conhecida pela sua sigla <b>POO</b>) é um modelo de análise, projeto e programação de sistemas de software...</p>
                            <a class="btn btn-primary btn-large btn-block" href="termo.html">
                                Continue Lendo
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="tile">
                            <img src="img/icons/svg/text-editor.svg" alt="Pronome" class="tile-image">
                            <h3 class="tile-title">Pronome</h3>
                            <smal class="tile-subtitle">em <a href="#">Português</a></smal>
                            <p>Pronome é a classe de palavras que substitui o substantivo (nome). Tem a finalidade de indicar a pessoa do discurso ou situar no tempo e espaço, sem utilizar...</p>
                            <a class="btn btn-primary btn-large btn-block" href="termo.html">
                                Continue Lendo
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="tile">
                            <img src="img/icons/svg/flask.svg" alt="Composto Aromático" class="tile-image">
                            <h3 class="tile-title">Composto Aromático</h3>
                            <smal class="tile-subtitle">em <a href="#">Química</a></smal>
                            <p>Os compostos aromáticos são hidrocarbonetos que apresentam um ou mais anéis benzênicos em sua molécula. O anel benzênico (ou anel aromático)...</p>
                            <a class="btn btn-primary btn-large btn-block" href="termo.html">
                                Continue Lendo
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="tile tile-hot">
                            <img src="img/icons/svg/sword.svg" alt="Guerra dos Canudos" class="tile-image">
                            <h3 class="tile-title">Guerra dos Canudos</h3>
                            <smal class="tile-subtitle">em <a href="#">Química</a></smal>
                            <p>A chamada Guerra de Canudos, revolução de Canudos ou insurreição de Canudos, foi o confronto entre um movimento popular de fundo sócio-religioso...</p>
                            <a class="btn btn-primary btn-large btn-block" href="termo.html">
                                Continue Lendo
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="tile tile-hot">
                            <img src="img/icons/svg/map.svg" alt="Cartografia" class="tile-image">
                            <h3 class="tile-title">Cartografia</h3>
                            <smal class="tile-subtitle">em <a href="#">Geografia</a></smal>
                            <p>Cartografia é a atividade que se apresenta como o conjunto de estudos e operações científicas, técnicas e artísticas que, tendo por base os resultados de observações diretas ou...</p>
                            <a class="btn btn-primary btn-large btn-block" href="termo.html">
                                Continue Lendo
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="tile tile-hot">
                            <img src="img/icons/svg/cell.svg" alt="Célula" class="tile-image">
                            <h3 class="tile-title">Célula</h3>
                            <smal class="tile-subtitle">em <a href="#">Biologia</a></smal>
                            <p>A Biologia Celular, também chamada de Citologia, é a parte da Biologia que se dedica ao estudo das células e suas estruturas. É uma área bastante importante...</p>
                            <a class="btn btn-primary btn-large btn-block" href="termo.html">
                                Continue Lendo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"> 
                <div class="row demo-samples">
                    <div class="col-lg-12 col-md-6 col-xs-12">
                        <div class="tile email-widget">
                            <p>Quer saber quando for adicionado um novo termo? Deixe seu email abaixo que nós te avisaremos</p>
                            <form action="#" role="search">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="termo" placeholder="Digite seu e-mail">
                                    </div>
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">
                                        Receber Atualizações &nbsp;
                                        <i class="fa fa-envelope"></i>
                                    </button>
                                </div>
                            </form>  
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-xs-12">
                        <hr>
                        <h6 class="title-header">Deseja sugerir algum termo?</h6>
                        <div class="todo">
                            <div class="todo-search">
                                <input class="todo-search-field" type="search" name="s" placeholder="Pesquise primeiro" />
                            </div>
                            <ul class="todo-list">
                                <li>
                                    <div class="todo-icon fui-user"></div>
                                    <div class="todo-content">
                                        Satu do Salgueiro sugeriu:
                                        <h4 class="todo-name">
                                            Filantropia <i><small>em Português</small></i>
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="todo-icon fui-user"></div>
                                    <div class="todo-content">
                                        Jhonny Braga sugeriu:
                                        <h4 class="todo-name">
                                            Motor <i><small>em Física</small></i>
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="todo-icon fui-user"></div>
                                    <div class="todo-content">
                                        Orpheu Ayres sugeriu:
                                        <h4 class="todo-name">
                                            Bootstrap <i><small>em Programação</small></i>
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="todo-icon fui-user"></div>
                                    <div class="todo-content">
                                        Lucas Craveiro Paes sugeriu:
                                        <h4 class="todo-name">
                                            PDO <i><small>em Programação</small></i>
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="todo-icon fui-user"></div>
                                    <div class="todo-content">
                                        Ileana Celeste sugeriu:
                                        <h4 class="todo-name">
                                            Hojas <i><small>em Espanhol</small></i>
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <form action="#" role="search">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="termo" placeholder="Digite sua sugestão">
								              	<div class="select2-container form-control select select-default" id="s2id_autogen1">
								          			<label for="s2id_autogen2" class="select2-offscreen"></label>
								      				<input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2">
								  				</div>
							  					<select data-toggle="select" class="form-control select select-default select2-offscreen" tabindex="-1" title="">
									                <option>Programação</option>
									                <option>Português</option>
									                <option>Matemática</option>
									                <option>Geografia</option>
									                <option>História</option>
									                <option>Física</option>
									                <option>Biologia</option>
								              	</select>
							            	</div>
                                            <button type="submit" class="btn btn-block btn-lg btn-primary">
                                                Enviar &nbsp;
                                                <i class="fa fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </form>                                        
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-12">
                        <h3 class="footer-title">Nossa Missão</h3>
                        <p>O cuidado em identificar pontos críticos na competitividade nas transações comerciais estende o alcance e a importância das condições inegavelmente apropriadas
                        </p>

                        <a class="footer-brand" href="#">
                            Banco de Terminologia
                        </a>
                    </div> <!-- /col-xs-7 -->

                    <div class="col-md-5 col-xs-12">
                        <div class="footer-banner">
                            <h3 class="footer-title">Veja Também</h3>
                            <ul>
                                <li>
                                	<a href="#">Gambá Games</a>
                            	</li>
                                <li>
                                	<a href="#">IFF - Campus Quissamã</a>
                            	</li>
                                <li>
                                	<a href="#">Lero Lero Lero</a>
                            	</li>
                            </ul>
                            Desenvolvido por <a href="http://lucascraveiropaes.com/" target="_blank">Lucas Craveiro Paes</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/vendor/jquery.min.js"></script>

        <script src="js/vendor/video.js"></script>
        <script src="js/flat-ui.js"></script>

        <script src="js/application.js"></script>

    </body>
</html>
